body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica;
  background-color: #E1E1E1; }

input:focus {
  outline: none; }

nav {
  width: 100%;
  height: 76px;
  background-color: #4A90E2; }
  nav ul {
    margin: 0 182px;
    text-align: center;
    padding: 0; }
    nav ul li {
      display: inline-block;
      padding: 23px 40px;
      list-style: none;
      font-size: 24px;
      vertical-align: middle; }
      nav ul li a {
        text-decoration: none;
        color: #00408B; }
    nav ul li:hover a {
      color: white; }

.card {
  background-color: #F2F2F2;
  margin: 0 auto;
  margin-top: 22px;
  width: 620px;
  height: 519px; }

.d-inline-block {
  display: inline-block; }

.d-block {
  display: block; }

.todo-title {
  position: relative;
  padding: 10px 30px 15px 15px;
  border-bottom: #E1E1E1 2px solid; }
  .todo-title input[type=text] {
    width: 340px;
    height: 46px;
    background-color: #F2F2F2;
    font-size: 20px;
    padding: 10px;
    box-shadow: none;
    border: none; }
  .todo-title label[for=todo-id] {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: white;
    top: 0px;
    left: 1px; }
  .todo-title input[type=checkbox]:checked + label[for=todo-id] {
    background-color: #4A90E2; }
  .todo-title input[type=checkbox]:checked + label[for=todo-id]:after {
    content: "\2713";
    font-size: 14px;
    position: relative;
    top: 2px;
    left: 6px;
    color: white; }
  .todo-title .check-group {
    margin: 16px;
    position: relative; }
  .todo-title .star, .todo-title .edit {
    vertical-align: middle; }
    .todo-title .star .far, .todo-title .star .fas, .todo-title .edit .far, .todo-title .edit .fas {
      font-size: 24px;
      margin: 0 20px; }
    .todo-title .star input[type=checkbox], .todo-title .edit input[type=checkbox] {
      width: 3px;
      height: 3px; }

.todo-content {
  padding: 72px;
  padding-top: 50px;
  padding-bottom: 30px; }
  .todo-content .input-group .content-title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 1.5px; }
  .todo-content .input-group input[type=date], .todo-content .input-group input[type=time] {
    width: 159px;
    border-radius: 3px;
    border: none;
    padding: 10px;
    padding-left: 12px;
    height: 26px;
    margin: 12px 0;
    margin-left: 21px;
    font-size: 17px; }
  .todo-content .input-group label[for=fileUpload] .fa-plus {
    margin: 12px 21px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 3px;
    background-color: #C8C8C8;
    cursor: pointer; }
  .todo-content .input-group input[type=textarea] {
    width: 445px;
    height: 120px;
    margin: 12px 21px; }

.todo-footer {
  width: 100%;
  height: 60px;
  display: flex;
  position: relative;
  background-color: red;
  color: #00408B; }
  .todo-footer a {
    text-decoration: none; }
  .todo-footer .action {
    width: 50%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 28px; }
  .todo-footer .cancel {
    background-color: #fff; }
  .todo-footer .add {
    background-color: #4A90E2;
    color: white; }
  .todo-footer .cross {
    position: relative;
    top: 33px;
    left: 72px; }
    .todo-footer .cross:before {
      background-color: #00408B;
      content: "";
      display: block;
      width: 15px;
      height: 2px;
      position: relative;
      top: 1px; }
    .todo-footer .cross:after {
      background-color: #00408B;
      content: "";
      display: block;
      width: 15px;
      height: 2px;
      transform: rotate(90deg); }
    .todo-footer .cross.cross-cancel {
      top: 137px;
      left: 36px;
      transform: rotate(45deg); }
      .todo-footer .cross.cross-cancel:after, .todo-footer .cross.cross-cancel:before {
        background-color: black; }
    .todo-footer .cross.cross-add:after, .todo-footer .cross.cross-add:before {
      background-color: #fff; }
