@import "variables" ;

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica;
    background-color: $background;
}


input:focus{
    outline: none;
} 


nav{
    width: 100%;
    height: 76px;
    background-color:$primary ;
    ul{
        margin:0 182px;
        text-align: center;
        padding: 0;
        li{
            display: inline-block;
            padding: 23px 40px;
            list-style: none;
            font-size: 24px;
            vertical-align: middle;
            a{
                text-decoration: none; 
                color:$dark-primary;
            }
        }
        li:hover{
           a{ color:white;}
        }
    }   
}
.card{
    background-color: #F2F2F2 ;
    margin:0 auto; 
    margin-top: 22px;
    width: 620px;
    height: 519px;
    
}

.d-inline-block{display:inline-block;}
.d-block{display:block;}

.todo-title{
    position: relative;
    padding: 10px 30px 15px 15px;
    border-bottom: $background 2px solid; 
    input[type=text]{
        width: 340px;   
        height: 46px;
        background-color: $card;
        font-size:20px; 
        padding:  10px ; 
        box-shadow: none; 
        border: none;
    }
    label[for=todo-id]{
        position: absolute;
        width: 24px;
        height: 24px; 
        background-color: white;
        top: 0px;
        left: 1px;
    } 
    input[type=checkbox]{
        &:checked + label[for=todo-id]{
            background-color: $primary;
        }
        &:checked + label[for=todo-id]:after{
            content:"\2713"; 
            font-size:14px;
            position: relative;
            top: 2px;
            left: 6px;
            color:white; 
        }
        
    }
    .check-group{
        margin: 16px;
        position: relative;
    } 

    .star,.edit{
    
        .far,.fas{
            font-size:24px;
            margin: 0 20px;
        }
        input[type=checkbox]{
            width: 3px; 
            height: 3px; 
         
        } 
        
      vertical-align: middle;
    }

}


.todo-content{
    padding:72px;
    padding-top: 50px;
    padding-bottom: 30px;
    .input-group {
        .content-title{
            font-size: 16px; 
            line-height: 24px;
            font-weight: 500;
            letter-spacing: 1.5px;
        }
        input[type=date] ,input[type=time]{
            width: 159px;
            border-radius:3px; 
            border:none;
            padding:10px;
            padding-left:12px;
            height:26px;
            margin: 12px 0; 
            margin-left: 21px;
            font-size: 17px;
        }
        label[for=fileUpload] .fa-plus{
            margin: 12px 21px;
            width: 30px;
            height: 30px; 
            line-height: 30px;
            text-align: center;
            border-radius: 3px; 
            background-color: #C8C8C8 ;
            cursor: pointer;
        }
        input[type=textarea]{
            width: 445px; 
            height: 120px; 
            margin: 12px 21px;
        }
    }
}

.todo-footer{
    width: 100%; 
    height: 60px;
    display:flex;
    position: relative; 
    background-color: red;
    color:$dark-primary;
    
    a{
        text-decoration: none;  
    }
    .action{
        width: 50%; 
       height: 60px;
       line-height: 60px;
       text-align: center;
       font-size:28px; 
    }
    .cancel{    
        background-color: #fff;
       
    }
    .add{ 
        background-color: $primary;
        color:white;
    }
    .cross{
        position: relative;
        top: 33px;
        left: 72px;
        &:before{
            background-color: $dark-primary;
            content:""; 
            display:block; 
            width: 15px;
            height: 2px;
            position: relative;
            top: 1px;
          
        }
        &:after{
            background-color: $dark-primary;
            content:""; 
            display:block;
            
            width: 15px;
            height: 2px;
            transform: rotate(90deg);
        }
        &.cross-cancel{
            top: 137px;
            left: 36px;
            transform: rotate(45deg);
            &:after , &:before{
                background-color: black;
              }
        }
        &.cross-add{
           &:after , &:before{
             background-color: #fff;
           }
        }  
    } 
    

} 
 


